POSTGRES_DB=devops_arena
POSTGRES_USER=devops_arena
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

REDIS_PORT=6379

BACKEND_PORT=4000
FRONTEND_PORT=3001

DATABASE_URL=postgresql://devops_arena:change-me@postgres:5432/devops_arena
REDIS_URL=redis://redis:6379

JWT_SECRET=super-secret-key-change-me
JWT_EXPIRES_IN=1d

# K8s Service Account Token
K8S_API_URL=https://host.docker.internal:6443
K8S_TOKEN=your-service-account-token

FRONTEND_URL=http://localhost:3001
